{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block custom %}
<div>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add Advertisement:-<a href="{% url "add-advertise" %}" class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add Advertise</a></p>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
