<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png">
<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.css" media="screen" ><link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
<div class="home-tab">

    </div>
    <div class="content">
      <div class="col-lg-9">
        <div class="row">

        </div>
        <div class="row">
        <div class="col-lg-4 padding-left0">
          </div>

          <div class="col-lg-8 padding-right0">
         <div class="white-box">

      <div class="clearfix"></div>
        <div id="accordion" class="panel-group post-alldata-panel-class">
        <div class="post-box">
      <form class="form-horizontal form-without-legend" role="form" action="/add-advertise/" method="post" form enctype="multipart/form-data">
              {% csrf_token %}

            <p>&nbsp;</p>
                {% if message %}
                     <div class="center_message alert alert-success">
                         <label for="error" >{{ message }}</label>

                    </div>
                {% endif %}
                {% if error %}
                     <div class="center_message alert alert-danger">
                         <label for="error" >{{ error }}</label>
                {% endif %}
            <div class="form-group">
              <label for="blog_category" class="col-lg-3 control-label">Select Ads Category</label>
               <div class="col-lg-5">
                <select name="ads_category" id="ads_category" class="form-control">
                    <option value="Bottom Image Banner" selected>Bottom Image Banner</option>
                    <option value="Side Vertical Image">Side Vertical Image</option>
               </select>
              </div>
            </div>
                <label for="blog_category" class="col-lg-3 control-label">Select image<span class="require">*</span></label>
                <div class="col-lg-5">
                   <input type="file" class="form-control" name="select_ads" >
                </div> &nbsp;&nbsp;
              </div>
                <div class="row">
                <div class="col-lg-3 ">&nbsp;</div>
                <div class="col-lg-5 padding-top-20">
                  <button type="submit" class="btn btn-primary" >Submit</button>
                </div>
            </div>
            <p>&nbsp;</p>

      </form>
      </div>
     </div>
   </div>
 </div>
 </div>
 </div>
</div>


